MONGO_URI=mongodb+srv://USERNAME:PASSWORD@cluster.mongodb.net/yanabiya?retryWrites=true&w=majority
JWT_SECRET=change_this_to_a_long_random_secret_string
JWT_EXPIRES_IN=7d
PORT=4000
ADMIN_EMAIL=admin@yanabiyagroup.com
ADMIN_PASSWORD=YanabiyaAdmin@2024
